image:
  name: rcd10-default-aarch64
  version: "1.0.0"

target:
  os: redhat-compatible-distro # Target OS name
  dist: el10 # Target OS distribution
  arch: aarch64 # Target OS architecture
  imageType: raw # Image type, valid value: [raw, iso].

disk:
  name: Default_Raw # 1:1 mapping to the systemConfigs name
  artifacts:
    -
      type: raw  # image file format
      compression: gz # image compression format (optional)
  size: 4GiB # 4G, 4GB, 4096 MiB also valid. (Required for raw)
  partitionTableType: gpt # Partition table type, valid value: [gpt, mbr]
  partitions: # Required for raw, optional for ISO, not needed for rootfs.
    - id: boot
      type: esp
      flags:
        - esp
        - boot
      start: 1MiB
      end: 513MiB
      fsType: fat32
      mountPoint: /boot/efi
      mountOptions: umask=0077

    - id: rootfs
      type: linux-root-amd64
      start: 513MiB
      end: 2561MiB  # 513MiB + 2GiB (2048MiB) = 2561MiB
      fsType: ext4
      mountPoint: /
      mountOptions: defaults, ro

    - id: roothashmap
      type: linux
      start: 2561MiB
      end: 3061MiB  # 2561MiB + 500MiB = 3061MiB
      fsType: ext4
      mountPoint: none

    - id: userdata
      type: linux
      start: 3061MiB
      end: "0"  # 2561MiB + 2GiB (2048MiB) = 4609MiB
      fsType: ext4
      mountPoint: /opt

systemConfig:
  name: Default_Raw
  description: Default yml configuration for raw image

  bootloader:
    bootType: efi # (efi or legacy)
    provider: systemd-boot # (grub for efi and legacy mode, or systemd-boot for efi mode)

  immutability:
    enabled: true # default is true

  packages:
    # --- MINIMUM BOOTABLE BASE ---
    - basesystem           # The skeleton of the OS structure
    - filesystem            # Provides the basic directory layout (/, /etc, /usr, etc.)
    - setup                 # Contains fundamental system configuration files (like /etc/passwd)
    - glibc                 # The core C library for almost all binaries
    - bash                  # The shell required for init scripts
    - coreutils             # Basic commands (ls, cp, mkdir) required during boot
    - systemd               # The init system (PID 1)
    - util-linux            # Required for mounting filesystems (mount, fdisk)
    - kernel                # The Linux kernel itself
    - kernel-core           # Essential kernel modules for hardware/filesystem support
    - dracut                # Used to generate the initramfs to find the root disk
    - dnf                   # Even a minimum build needs a way to install more packages

    # --- BOOTLOADER (For UEFI/UKI) ---
    - grub2-common                  # The EFI boot manager
    - shim-x64              # Necessary for UEFI handover

    # --- MINIMUM CONFIGURATION ---
    - hostname              # To identify the system
    - shadow-utils          # To manage users/root password
    - iproute               # Minimum networking tool to bring up an interface
    - ncurses               # Required for terminal display

  additionalFiles:
    - local: ../additionalfiles/99-dhcp-en.network
      final: /etc/systemd/network/99-dhcp-en.network

  kernel:
    name: kernel
    cmdline: "console=ttyS0,115200 console=tty0 loglevel=7"
    enableExtraModules: "usbcore usb-common"
    packages:
     - kernel
    uki: true
